*{
    margin: 0;
}
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.title-center{
    text-align: center;
    transform: translateY(60%);
}
table{
    width: 90%;
    margin: 1em auto;
}
table, tr, td{
    border: 3px solid black;
    border-collapse: collapse;
    
}

table tbody tr:nth-child(odd) td {
    background-color: #EFEFEF;
}

#back{
    border: 1px solid black;
    text-align: left !important;
    padding: 1em;
    display: block;
    width: fit-content;
    border-radius: 15px;
    background-color: gray;
    color: white;
    text-decoration: none;
    margin: 1em;
    top: 0.5em;
    left: 0.5em;
}
.scanBtn{
    position: absolute;
    z-index: 1000;

}
#manuel {
    left: 50%;
    bottom: 10%;
    color: black;
    background-color: white;
    padding: 1em;
    border-radius: 50px;
    border: 1px solid black;
    transform: translateX(-50%);
    text-decoration: none;
    text-align: center;
}

#formManu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 60%;
    left: 50%;
    
}
#formManu button{
    width: fit-content;
    margin-top: 1em;
    padding: 1em;
    border-radius: 15px;
}

.title-center{
    top: 30%;
    left: 50%;
}


#formManu, #titreManu{
    transform: translate(-51%, -50%);
    position: absolute;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.article{
    border: 1px solid black;
    padding: 0.5em;
    width: 90%;
    margin:1em auto;
    border-radius: 15px;
}

h2{
    font-size: 1em;
}

.ligne{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 0.5em;
}

.table{
    text-align: center;
}

.table h1, .table p{
    width: 90%;
    margin: auto;
}

.table p{
    font-weight: bold;
}

/* style anthony  */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
   
  }
  
  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
  }
  
  .boxed {
    max-width: 1200px;
    margin-inline: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .header-menu {
   
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s ease;
  }
  
  .header-logo {
    display: block;
  }
  
  .header-logo img {
    width: 70px;
  }
  
  .aligncenter {
    align-items: center;
  }
  
  .header-menu li a:hover {
    background-color: #f2f2f2;
  }
  
  .slider {
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    position: relative;
  }
  .slider img {
    width: 100%;
  }
  
  .slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
  
  .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .accueil-title {
    text-align: center;
    padding-top: 120px;
    color: white;
  }
  
  
  .bouton-deconnexion {
    text-align: center;
    display: block;
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    padding-top: 100px;
  }
  
  .bouton-deconnexion:hover {
    text-decoration: underline;
  }
  
  .logout-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
  }

  .connexion{
    background: url("../images/bibliotheque.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }